body {
 background-image: url(images/coas-building.jpg);
 background-repeat: no-repeat;	
 background-size: cover;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 10pt;
 line-height: 1.5;
}
div.content {
 left: 50%;
 margin-left: -350px;
 position: relative;
 width: 700px;
}
h1 {
 font-size: 2.5em;
 margin: 0;
}
h1.title {
 color: #fff;
 font-weight: bold;
 font-size: 2.5em;
 margin-left: 10px;
 margin-top: 20px;
 text-shadow: 5px 5px 5px rgba(0,0,0,0.4);
 text-transform: uppercase;
}
p {
 margin-top: 2px;
 margin-bottom: 2em;
 padding: 0;
}
div.title {
 background-image: url(images/semmod-icon.png);
 background-position: 50px;
 background-repeat: no-repeat;
 height: 60px;
 margin-top: 20px;
 padding: 35px 100px;
 text-align: center;
 width: 600px;
}
div.policy {
 background-color: #fff;
 border: 1px solid #000;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
 margin-top: 25px;
 padding: 25px;
 width: 700px;
}

div.store {
	margin-top: 50px;
	margin-bottom: 50px;
}
div.store p {
	padding-top: 25px;
}

div.coas {
 background-image: url(images/coas-logo.png);
 background-position: right bottom;
 background-repeat: no-repeat;
 height: 100px;
 margin-top: 65px;	 
 width: 700px;
}
div.coas div {
 float: left;
 padding-top: 75px;
}
div.coas div a {
}
li.beta {
	margin-top: 12px;
}
span.warning {
	font-style: italic;
	font-size: 8pt;
}
span.note {
	font-style: italic;
	font-size: 8pt;
}